@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 100;
    font-family: 'Poppins', sans-serif;
}

@media screen and (max-width: 950px) {
    .modal {
        justify-content: flex-end;
    }
}

.modalContent {
    max-width: 950px;
    max-height: 85vh;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 25px;
}

.modal_head {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #fff;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
}

.modal_head h1 {
    font-size: 60px;
}

@media screen and (max-width: 950px) {
    .modalContent {
        padding: 0;
        border-radius: 0;
        border-top-right-radius: 15px;
        border-top-left-radius: 15px;
    }
}

@media screen and (max-width: 590px) {
    .modal_head h1 {
        font-size: 25px;
    }
}

.modal_body {
    padding: 10px;
    background-color: #fff;
    border-radius: 0 0 5px 5px;
    max-width: 600px;
    max-height: 60vh;
}

.modal_footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px;
    background-color: #fff;
    border-radius: 0 0 5px 5px;
}
.btn {
    width: 15vw;
    min-width: 175px;
    height: 40px;
    font-size: 20px;
    border-radius: 25px;
    cursor: pointer;
    background-color: #ffffff;
}
.btn:hover {
    background-color: #ff79d0;
    color: #fff;
}
