@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.navbar{
    background-color: #000;
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 64px;
}

.logo{
    font-size: 1.5rem;
    font-weight: bold;
}

.links{
    display: flex;
    justify-content: space-between;
    width: 20%;
}
