.navbar{
    background-color: #000;
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 8vh;
}

.logo{
    font-size: 1rem;
    font-weight: bold;
}

.links{
    display: flex;
    justify-content: space-between;
}

.link{
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
    padding: 0 10px;
}