@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.navbar{
    background-color: #000;
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 8vh;
    overflow-y: hidden;
    font-family: 'Poppins', sans-serif;
}

.logo{
    font-size: 1rem;
    font-weight: bold;
}

.links{
    display: flex;
    justify-content: space-between;
}

.link{
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
    padding: 0 10px;
}