@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

@font-face {
    font-family: 'BroadwayShadow';
    src: url('../../styles/fonts/BroadwayShadow.ttf');
}

.form {
    font-family: 'Poppins', sans-serif;
    display: flex;
    margin: 120px 0px 120px 10%;
    align-content: center;
    align-items: center;
    height: fit-content;
    color: #ffffff;
    width: fit-content;
}

.mainForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    justify-content: center;
    margin-right: 2vw;
    padding: 30px 30px 30px 30px;
    border-radius: 19px;
    background: #394a72;
    width: 37vw;
    /* height: 70vh; */
}

.mainForm label {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
}

.mainForm a {
    color: #000000;
}

.mainHeading {
    margin-bottom: 1rem;
    margin-top: 5rem;
    text-align: center;
    color: #2b0072;
    font-family: BroadwayShadow;
    font-size: 6vw;
    font-weight: 400;
    left: 4%;
}

.form_row {
    display: flex;
    flex-direction: row;
    gap: 13px;
}

.form_row .field input,
.field select {
    width: 15.5vw;
}

.field {
    margin-bottom: 10px;
}

.field input,
.field select {
    width: 32vw;
    height: 45px;
    margin: 2px;
    padding: 2px 15px;
    font-size: 17px;
    border-radius: 6px;
    border: 1px solid #8296cc;

    background: #fff;
    /* border-color: #2b0072;
    border-bottom: 2px solid #2b0072;
    border-top: 0;
    border-left: 0;
    border-right: 0; */
}

.field input:focus,
.field select:focus {
    outline: none;
}

.userType {
    width: 25vw;
    height: 45px;
    margin: 2px;
    padding: 2px 15px;
    font-size: 17px;
    background: #eee9ff;
    border: 1px solid #000000;
    border-radius: 5px;
    /* border-color: #2b0072;
    border-bottom: 2px solid #2b0072;
    border-top: 0;
    border-left: 0;
    border-right: 0; */
}

/* .field label {
    font-size: 20px;
    color: #2b0072;
} */

.buttonWrapper {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 60vw;
    max-width: 700px;
    display: flex;
    justify-content: center;
}

.buttonWrapper button {
    width: 30vw;
    height: 59px;
    margin-top: 20px;
    cursor: pointer;
    color: #332f62;
    background: #ffffff;
    border-radius: 10px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 36px;
    min-width: 200px;
    border: none;
}

/* .buttonWrapper button:hover {
    background-color: #424040;
    color: #fff;
} */

.lottie {
    width: 50%;
    margin-top: 2rem;
    overflow: hidden;
}

.lottie_container {
    display: flex;
    justify-content: center;
    align-content: center;
    position: relative;
    width: 50vw;
    height: 80vh;
}

.iitp_email {
    border-radius: 5px 0px 0px 5px !important;
    width: 26.5vw !important;
    margin: 0px !important;
    height: 45px;
}

.iitp_email_ext {
    background-color: #000000;
    color: #ffffff;
    height: 50px;
    font-size: 17px;
    padding: 10px 3px 12px 5px;
    border-radius: 0px 5px 5px 0px;
}

.terms_box {
    padding: 10px 20px 10px 20px;
    display: flex;
    flex-direction: column;
    text-align: left;
    border: 1px solid #000000;
    border-radius: 5px;
    margin-top: 20px;
    width: 28vw;
}
.passwd_box {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 31vw;
}

@media only screen and (max-width: 860px) {
    /* .form {
        flex-direction: column;
        align-items: center;
        padding-inline: 20px;
    } */

    /* .mainForm {
        align-items: center;
        height: 100vh;
    } */

    /* .mainHeading {
        font-size: 10vw;
    }

    .form_row {
        flex-direction: column;
    }

    .form_row .field input {
        width: 80vw;
    }

    .field input {
        width: 80vw;
    } */

    /* .lottie {
        width: 100%;
    }

    .lottie_container {
        width: 100vw;
        height: 50vh;
    } */
}
@media only screen and (max-width: 1500px) {
    .mainForm {
        width: 486px;
    }
    .terms_box {
        width: auto;
    }
}

@media only screen and (max-width: 1023px) {
    .passwd_box {
        width: 400px;
    }
    .mainForm {
        margin-top: 75px;
        margin-bottom: 75px;
        width: 401px;
        padding-left: 18px;
        padding-right: 18px;
        background: rgba(57, 74, 114, 1);
    }
    .field {
        justify-content: center;
        align-items: center;
    }
    .field input,
    .field select {
        min-width: 230px;
        font-size: 13px;
        width: 365px;
    }
    .iitp_email_ext {
        font-size: 13px;
    }
    .field label {
        font-size: 14px;
    }

    .form_row {
        flex-direction: column;
    }
    .buttonWrapper button {
        width: 345px;
    }
    .form {
        margin: auto 5vw;
    }
    .iitp_email {
        width: 287px !important;
    }
    .terms_box {
        width: auto;
    }
}
@media only screen and (max-width: 426px) {
    .mainForm {
        /* margin-top: -60px; */
        margin: 100px 2.5vw 100px 2.5vw;
        width: 95vw;
        padding-left: 10px;
        padding-right: 10px;
        background: rgba(57, 74, 114, 0.85);
    }
    .passwd_box {
        width: 90vw;
    }

    .field input {
        width: 90vw;
    }
    .field select {
        width: 90vw;
    }
    .buttonWrapper button {
        width: 90vw;
    }
    .iitp_email {
        width: 50vw !important;
    }
}
