.mainNav {
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0);
    color: #000;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.mobile_nav {
    display: none;
}

.navLinks a {
    color: #000;
    text-decoration: none;
    padding: 10px;
    display: inline-block;
    font-weight: bold;
}

.navLinks ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    margin: 0;
    padding: 0;
}

.mobile_only {
    display: none;
}

.nav_drawer {
    display: none;
    opacity: 0;
    position: fixed;
    top: 68px;
    width: 100vw;
    transition: all 0.3s ease;
    z-index: 2;
}

.nav_drawer ul {
    display: flex;
    flex-direction: column;
    background-color: #000;
    align-items: center;
    justify-content: center;
}

.nav_drawer li {
    margin: 10px 0;
}

.nav_drawer a {
    color: #fff;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-decoration: none;
}

@media screen and (max-width: 1050px) {
    .navLinks {
        display: none;
    }
    .mobile_nav {
        display: block;
        margin-left: 20px;
    }
    .mobile_only {
        display: block;
    }
}
