.mainNav{
    background-color: #000;
    color: #fff;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.mobile_nav{
    display: none;
}

.navLinks a{
    color: #fff;
    text-decoration: none;
    padding: 10px;
    display: inline-block;
}

.navLinks ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    margin: 0;
    padding: 0;
}

.mobile_only{
    display: none;
}

.nav_drawer{
    display: none;
    opacity: 0;
    position: absolute;
    top: 98px;
    width: 100vw;
    transition: all .3s ease;
}

.nav_drawer ul{
    display: flex;
    flex-direction: column;
    background-color: #000;
    align-items: center;
    justify-content: center;
}

.nav_drawer li{
    margin: 10px 0;
}

.nav_drawer a{
    color: #fff;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
}

@media screen and (max-width: 1050px){
    .navLinks{
        display: none;
    }
    .mobile_nav{
        display: block;
        margin-left: 20px;
    }
    .mobile_only{
        display: block;
    }
}
