.gallery {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 5%;
}

.container {
  columns: 5;
  column-gap: 0.8rem;
}

.image_item {
  width: 300px;
  margin-bottom: 0.8rem;
  overflow: hidden;
  break-inside: avoid;
}

.image {
  max-width: 100%;
}

@media screen and (max-width:1800px) {
  .container {
    columns: 4;
  }
}

@media screen and (max-width:1200px) {
  .container {
    columns: 3;
  }
}

@media screen and (max-width:800px) {
  .container {
    columns: 2;
  }
}

@media screen and (max-width:520px) {
  .container {
    columns: 1;
  }
}