@font-face {
  font-family: trajan;
  src: url(../../fonts/Trajan\ Pro.ttf);
}

.gallery {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 5%;
  margin-block: 3.8rem;
  padding: 25px;
  /* border: 15px ridge #4e1dd9; */
  border-radius: 20px;
  background-color: #00389291;
}

.container {
  columns: 5;
  column-gap: 0.8rem;
}

.image_item {
  width: 300px;
  margin-bottom: 0.8rem;
  overflow: hidden;
  break-inside: avoid;
}

.image {
  max-width: 100%;
  border-radius: 15px;
  /* border: 2px ridge #4e1dd9; */
}

.hidden {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-75%);
}

.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
  transition: all 1s ease;
}

p.show{
  margin-bottom: 10px;
  font-size: 1.2rem;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 500;
  
}

h1.show{
  margin-bottom: 10px;
  font-size: 3rem;
  font-family: trajan;
}

@media screen and (max-width:1800px) {
  .container {
    columns: 4;
  }
}

@media screen and (max-width:1200px) {
  .container {
    columns: 3;
  }
}

@media screen and (max-width:800px) {
  .container {
    columns: 1;
  }
}

=======
.gallery {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 5%;
}

.container {
  columns: 5;
  column-gap: 0.8rem;
}

.image_item {
  width: 300px;
  margin-bottom: 0.8rem;
  overflow: hidden;
  break-inside: avoid;
}

.image {
  max-width: 100%;
}

.hidden {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-75%);
}

.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
  transition: all 1s ease;
}

@media screen and (max-width:1800px) {
  .container {
    columns: 4;
  }
}

@media screen and (max-width:1200px) {
  .container {
    columns: 3;
  }
}

@media screen and (max-width:800px) {
  .container {
    columns: 1;
  }
}
