@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
.footer {
    position: relative;
    bottom: 0;
    width: 100vw;
    height: fit-content;
    background-color: #504BBC;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    overflow-x: hidden;
    font-size: 1.1rem;
}

.mainSection {
    width: 100vw;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
}

.sectionSeperator {
    height: 80%;
    width: 2px;
    background-color: white;
}

.section3 {
    display: flex;
    flex-direction: column;
    width: 33vw;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.footerTable {
    color: white;
    font-size: 1.3rem;
    font-weight: 700;
    width: 100%;
    /* margin-left: 40px; */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 20px;
    font-family: 'Poppins', sans-serif;
    padding-top: 40px;
    gap: 65px;
}

.footerTableRow {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    gap: 32px;
}

.footerLink {
    color: white;
    text-decoration: none;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
}

.section2 {
    width: 33vw;
    height: 100%;
    padding: 10px;
    padding-top: 25px;
    display: flex;
    flex-direction: column;
    margin-top: 2vh;
    align-items: center;
    /* font-size: 1.1rem; */
}

.form{
    display: flex;
}

.nlnewbtn {
    height: 45px;
    width: 100px;
    background: transparent;
    border-radius: 4px;
    cursor: pointer;
}

.section1 {
    height: 100%;
    padding: 15px;
    margin: 5vh;
    flex-direction: column;
    overflow: hidden;
    color: white;
    font-size: 1.1rem;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.section1 .a {
    padding: 7px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-decoration: none;
    /* display: flex;
    justify-content: center; */
    /* text-align: center; */
}

.section1 a span {
    color: white;
    cursor: pointer;
    overflow: hidden;
    text-decoration: none;
}

.section1 div {
    color: white;
}

/* .section1 a:hover {
    transform: scale(1.05);
    transition-property: color;
    transition-timing-function: ease-in-out;
    transition-duration: 0.5s;
} */

.section1 img {
    height: 30px;
    margin-right: 10px;
}

.icon_link {
    color: white;
    text-decoration: none;
    font-size: 0.75rem;
    cursor: pointer;
    display: flex;
    width: 50px;
    height: 50px;
    color: blue;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.icon_link:hover {
    transform: scale(1.1);
}

.footer_link {
    color: white;
    text-decoration: none;
    font-size: 1.25em;
    cursor: pointer;
    padding: 4px;
    overflow: hidden;
}

.tac_link {
    color: white;
    text-decoration: none;
    font-size: 1em;
    cursor: pointer;
}

.icon_links {
    display: flex;
    max-width: 500px;
    align-items: center;
    padding: 5px 0px;
    width: 30vw;
    justify-content: space-around;
}

.icon_link img {
    height: 27px;
}

.section3maintext {
    font-size: 1.7rem;
    color: white;
    font-weight: 900;
    padding-left: 2vw;
    margin-top: 2vh;
}

.section3text {
    font-size: 1.4rem;
    color: #cec6c6;
    font-weight: 700;
    padding: 3px;
    padding-left: 2vw;
    margin-top: 3px;
}
.button_links {
    display: flex;
    /* align-items: center; */
    overflow: hidden;
    justify-content: center;
}
.anwesha_text {
    display: flex;
    height: 13vh;
    width: auto;
    padding: 4px;
    margin: 5vh;
    /* margin-top: 4px; */
}
.anwesha_text_img {
    padding: 2px;
    /* margin: 3px; */
}
.anwesha_text_img:hover {
    transform: scale(1.06);
}
.button_links a img {
    /* display: flex; */
    padding: 3 0px;
    /* width: 70px; */
    height: 57px;
}
.button_links img:hover {
    /* background-color: white !important; */
    transform: scale(1.1);
}
.footer_links {
    display: flex;
    max-width: 400px;
    align-items: center;
    justify-content: space-around;
}

.googlePlayButton a {
    /* border: 2px solid green; */
    display: block;
    min-width: 65px;
    overflow: hidden;
    text-decoration: none;
}

.googlePlayButton a div{
    text-decoration: none;
    margin-bottom: 10px;
}

.googlePlayButton a img{
    height: 50px;
}

.tac_links {
    display: flex;
    max-width: 350px;
    align-items: center;
    justify-content: space-around;
}

.footerSeperator {
    width: 100%;
    height: 1px;
    background-color: white;
    margin-bottom: 25px;
}

.link:hover {
    padding: 2px;
    color: black;
    transition-property: background-color, color;
    transition-timing-function: ease-in-out;
    transition-duration: 0.4s;
}

.linkGroup {
    overflow: hidden;
}

.middle_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    color: aliceblue;
}

.privacy_text {
    color: aliceblue;
    text-decoration: none;
}

.terms_text {
    color: aliceblue;
    text-decoration: none;
}

.frame_img {
    height: 87px;
}

.newsletter {
    font-size: 24px;
    font-weight: 500;
    margin-block: 15px;
}

.mailInput {
    width: 322px;
    height: 44px;
    border-radius: 5px;
    border: none;
    padding: 10px;
    font-size: 20px;
    font-weight: 500;
    margin-right: 10px;
    margin-bottom: 20px;
}

.termsPrivacy {
    display: flex;
    flex-direction: row;
    gap: 46px;
    /* font-weight: 550; */
}

.address {
    font-weight: 500;
    font-size: 20px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: white;
    text-decoration: none;
}

.address a {
    color: white;
    text-decoration: none;
}

@media screen and (max-width: 1444px) {
    .icon_link {
        display: flex;
        width: 47px;
        height: 47px;
    }
    .footer {
        height: 48vh;
        overflow: hidden;
    }
    .mainSection {
        overflow: hidden;
    }
}

@media screen and (max-width: 1444px) {
    .icon_links {
        display: flex;
        width: 85%;
        justify-content: space-between;
    }
}

@media screen and (min-width: 1000px) {
    .footer {
        height: fit-content;
        height: 48vh;
        overflow: hidden;
    }

    .icon_link {
        margin: 0 20px;
    }

    .footer_link {
        margin: 0 20px;
    }

    .tac_link {
        margin: 0 20px;
    }
}

@media screen and (max-width: 1200px) {
    .footer {
        height: fit-content;
        overflow: hidden;
    }
    .mainSection {
        flex-direction: column;
        overflow: hidden;
    }
    .section3 {
        width: 100%;
        height: 41vh;
        justify-content: center;
    }

    .section2 {
        width: 100%;
        height: 30vh;
        justify-content: center;
    }

    .linkGroup {
        padding: 20px 0px;
    }

    .icon_link {
        margin: 0 20px;
    }

    .footer_link {
        margin: 0 20px;
    }

    .tac_link {
        margin: 0 20px;
    }
}

@media screen and (max-width: 576px) {
    .footer {
        height: fit-content;
    }

    .mainSection {
        flex-direction: column;
        justify-content: center;
        padding-inline: 20px;
    }

    .sectionSeperator {
        width: 90%;
        height: 2px;
    }

    .section3maintext {
        text-align: center;
    }

    .section3text {
        text-align: center;
    }

    .footerSeperator {
        display: none;
    }
    .frame_img {
        display: none;
    }
}

@media screen and (max-width: 350px) {
    .footer {
        height: fit-content;
    }

    .mainSection {
        flex-direction: column;
    }

    /* .section1 {
        display: none;
    } */

    .section3maintext {
        font-size: 1.5rem;
    }

    .section3text {
        font-size: 1rem;
    }

    .linkGroup {
        flex-direction: column;
        height: fit-content;
    }

    .link {
        margin-top: 10px;
        height: 20vw;
    }

    .link img {
        height: 100%;
        /* height: 20vw; */
    }
    .anwesha_text {
        height: 40vw;
        width: auto;
    }
}
