@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 100;
    font-family: 'Poppins', sans-serif;
}

.modalContent {
    max-width: 400px;
    height: 300px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 15px;
}

.modal_head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #fff;
    border-radius: 5px 5px 0 0;
}

.modal_body {
    padding: 10px;
    background-color: #fff;
    border-radius: 0 0 5px 5px;
}

.modal_footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px;
    background-color: #fff;
    border-radius: 0 0 5px 5px;
}
.btn {
    width: 15vw;
    min-width: 175px;
    height: 40px;
    font-size: 20px;
    border-radius: 25px;
    cursor: pointer;
}
.btn:hover {
    background-color: #424040;
    color: #fff;
}
