@font-face {
	font-family: "Poppins";
	src: url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
}

.container{
	background-image: url("/MulticityBackground.svg");
	background-size: 100vw;
	overflow-x: hidden;
	background-position: 0 60px;
	background-attachment: fixed;
    background-color: #63262d00;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 77px;
    top: 0px;
}

.container > *{
    font-family: 'Poppins', sans-serif !important;
}

.background {
	position: fixed;
	width: 100vw;
	z-index: -1;
}

.heroImage {
	width: 100vw;
}

.title {
	margin-block: 90px;
}

.title img {
	width: 500px;
	max-width: 75vw;
}

.about {
    color: #ffffff;
    text-align: justify;
    width: 500px;
	max-width: 75vw;
}

.content{
    margin: 50px 0;
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
	row-gap: 150px;
}