.container {
    font-family: 'Poppins', sans-serif;
    background-image: url('/pics/registerBg.jpg');
    background-repeat: no-repeat; /* Prevents duplication */
    background-size: cover; /* Ensures the image stretches to cover the entire page */
    /* background-image: url("/bg.png"); */
    /* background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1012%26quot%3b)' fill='none'%3e%3cpath d='M 0%2c342 C 57.6%2c301 172.8%2c119.4 288%2c137 C 403.2%2c154.6 460.8%2c427.4 576%2c430 C 691.2%2c432.6 748.8%2c160.8 864%2c150 C 979.2%2c139.2 1036.8%2c374.2 1152%2c376 C 1267.2%2c377.8 1382.4%2c202.4 1440%2c159L1440 560L0 560z' fill='%23184a7e'%3e%3c/path%3e%3cpath d='M 0%2c138 C 72%2c195.2 216%2c408 360%2c424 C 504%2c440 576%2c203.6 720%2c218 C 864%2c232.4 936%2c538.4 1080%2c496 C 1224%2c453.6 1368%2c104 1440%2c6L1440 560L0 560z' fill='%232264ab'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1012'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e"); */
    /* background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1014%26quot%3b)' fill='none'%3e%3cpath d='M 0%2c342 C 57.6%2c301 172.8%2c119.4 288%2c137 C 403.2%2c154.6 460.8%2c427.4 576%2c430 C 691.2%2c432.6 748.8%2c160.8 864%2c150 C 979.2%2c139.2 1036.8%2c374.2 1152%2c376 C 1267.2%2c377.8 1382.4%2c202.4 1440%2c159L1440 560L0 560z' fill='rgba(24%2c 74%2c 126%2c 0.36)'%3e%3c/path%3e%3cpath d='M 0%2c138 C 72%2c195.2 216%2c408 360%2c424 C 504%2c440 576%2c203.6 720%2c218 C 864%2c232.4 936%2c538.4 1080%2c496 C 1224%2c453.6 1368%2c104 1440%2c6L1440 560L0 560z' fill='rgba(34%2c 100%2c 171%2c 0.55)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1014'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e"); */

    /* background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1021%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(56%2c 3%2c 154%2c 0.43)'%3e%3c/rect%3e%3cpath d='M 0%2c342 C 57.6%2c301 172.8%2c119.4 288%2c137 C 403.2%2c154.6 460.8%2c427.4 576%2c430 C 691.2%2c432.6 748.8%2c160.8 864%2c150 C 979.2%2c139.2 1036.8%2c374.2 1152%2c376 C 1267.2%2c377.8 1382.4%2c202.4 1440%2c159L1440 560L0 560z' fill='rgba(24%2c 74%2c 126%2c 0.36)'%3e%3c/path%3e%3cpath d='M 0%2c138 C 72%2c195.2 216%2c408 360%2c424 C 504%2c440 576%2c203.6 720%2c218 C 864%2c232.4 936%2c538.4 1080%2c496 C 1224%2c453.6 1368%2c104 1440%2c6L1440 560L0 560z' fill='rgba(34%2c 100%2c 171%2c 0.55)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1021'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e"); */

    /* background: linear-gradient(
        to bottom,
        #101664,
        #262a95,
        #3951a9,
        #609fca,
        #7bb5c1
    ); */
    /* background-image: url('/login_register/portal.svg'),
        url('/login_register/bg.svg'); */
    /* 
    background-size: 100%;
    background-position: bottom right, top left; */
    /* background-position: center; */
    /* background-repeat: no-repeat; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    height: fit-content;
    min-height: 100vh;
}

@media only screen and (max-width: 1023px) {
    .container {
        background-size: cover, cover;
    }
}
