@font-face {
  font-family: "BroadwayShadow";
  src: url("../styles/fonts/BroadwayShadow.ttf");
}

.campusamb_body {
  /* background-color:#FFF6A5; */
  height: 100vh;
}

.anwesha_bg_img {
  background-image: url("../public/CA.png");
  background-size: cover;
  background-position: center;
  /* background-size: 100% 100%; */
  background-repeat: no-repeat;
  /* background-position: center; */
  /* width: 100vw; */
  min-height: 270px;
  height: 100vh;
  display: flex;
  justify-content: end;
  font-size: 30px;
  align-items: flex-end;
  flex-direction: column;
}


.hero_text {
  display: flex;
  /* align-items: center; */
  height: 54vh;
  width: 102vw;
  /* position: absolute; */
  top: 45%;
  align-content: center;
  flex-direction: column;
}

.bgText {
  position: relative;
  font-size: 7vw;
  font-weight: 400;
  left: 4%;
  font-family: 'BroadwayShadow', sans-serif;
  letter-spacing: 0.3ch;
  color: #2B0072;

}

.bgText_small {
  position: relative;
  font-size: 6vw;
  font-weight: 400;
  left: 4%;
  font-family: 'BroadwayShadow', sans-serif;
  letter-spacing: 0.3ch;
  color: #2B0072;
}

.anwesha_text {
  width: 98vw;
  float: left;
}

.btn_register {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 51px;
  font-size: 25px;
  margin-left: 4.5vw;
  margin-top: 20px;
  border-radius: 7px;
  cursor: pointer;
  background-color: #2B0072;
  color: aliceblue;
}


.btn_text {
  text-decoration: none;
  color: white;
}

.disabled {
  text-decoration: none;
  background-color: #2B0072;
  color: white;
  opacity: 0.5;
  cursor: not-allowed;
}

@media screen and (max-width: 700px) {
  .anwesha_bg_img {
    background-image: url("../public/Slice\ 1.jpg");
    align-items: center;
    height: 100%;
    background-size: cover;
  }

  .anwesha_text {
    text-align: center;
  }

  .bgText {
    position: relative;
    font-size: 10vw;
    font-weight: 400;
    left: 4%;
    font-family: 'BroadwayShadow', sans-serif;
    letter-spacing: 0.3ch;
    color: #2B0072;
  }

  .bgText_small {
    position: relative;
    font-size: 8vw;
    font-weight: 400;
    left: 4%;
    font-family: 'BroadwayShadow', sans-serif;
    letter-spacing: 0.3ch;
    color: #2B0072;
  }

  .btn_register {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 127px;
    height: 40px;
    font-size: 20px;
    margin-left: 4.5vw;
    margin-top: 28px;
    border-radius: 7px;
    cursor: pointer;
    background-color: #2B0072;
    color: aliceblue;
  }

}


/* Rulebook Section */
.rulebook_section {
  background-color: aliceblue;
}

/* .responsibilities {
  height: 70vh;
} */

.rulebook_text_heading {
  width: 100%;
  text-align: center;
  font-size: 5vw;
  font-weight: 400;
  margin-top: 15px;
  font-family: 'BroadwayShadow', sans-serif;
  letter-spacing: 0.2ch;
  color: #2B0072;
}
.lottie_row{
  display: flex;
  justify-content: space-around;
  align-content: center;
  align-items: center;
  padding-left: 20px;
}
.lottie_container{
  display: flex;
  justify-content: center;  
  align-content: center;
  position: relative;
  width: 50%;
  height: 45vh;
}
.lottie_text{
  font-size: 40px;
  color: #2B0072;
  text-align: center;
}

.reward_heading{
  font-size: 40px;
  color: #2B0072;
  padding: 10px;
  
}

.reward_desc{
  font-size: 30px;
  color: #2B007285;
  padding: 10px;
}

.lottie_row_judging{
  display: flex;
  justify-content: space-around;
  align-content: center;
  align-items: center;
  padding-left: 20px;
}

.points_table{
  width: 60%;
  padding-block: 25px ;
}
.points_table td, .points_table th {
  border: 1px solid #ddd;
  padding: 8px;
  border-radius: 10px;
}

.points_table tr:nth-child(even){background-color: #2c007296; color: white;}

.points_table tr:hover {background-color: #2B0072; color: white;}

.points_table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #2B0072;
  color: white;
}

@media screen and (max-width: 700px) {
  .rulebook_text_heading {
    font-size: 30px;
  }
  /* .lottie_row{
    flex-direction: column;
  } */
  .lottie_container {
    height: 25vh;
    width: 80%;
  }
  .lottie_text{
    font-size: large;
    text-align: center;
  }
  .reward_heading{
    font-size: large;
  }
  .reward_desc{
    font-size: medium;
  }
  .lottie_row_judging{
    display: flex;
    flex-direction: column;
  }
  .points_table{
    width: 100%;
  }
}
