.comingsoon_body{
  background-color:#FFF6A5;
  height: 100vh;
}
.anwesha_bg_img {
  background-image: url("../public/main_hero.png");
  background-size: cover;
  background-position: center;
  height: 100vh;
  /* width: 100vw; */
  min-height: 270px;
  display: flex;
  justify-content: end;
  font-size: 30px;
  color: rgb(58, 48, 29);
  align-items: flex-end;
  flex-direction: column;
}

.anwesha_text_image{
  position: relative;
  bottom: 30%;
  height: 8.5vw;
}

.bgText {
  position: relative;
  top: -65%;
  font-size: 3rem;
  color: rgb(58, 48, 29);
  font-weight: 900;
  margin-right: 3%;
  animation: focus-in-contract 4.2s ease-out 0.4s infinite normal none; 
}

.socials{
  position: absolute;
  display: flex;
  flex-direction: row;
  right: 52px;
  top: 5px;
}

.imageElement{
  padding: 5px;
}

.ca{
  position: relative;
  overflow: hidden;
}

.ca_poster{
  background-image: url("../public/CA.png");
    background-size: cover;
    background-position: right;
    /* background-size: 100% 100%; */
    background-repeat: no-repeat;
    /* background-position: center; */
    /* width: 100vw; */
    min-height: 270px;
    height: 40vw;
    width: 40vw;
    margin-left: 10vw;
    margin-top: 10vh;
    border-radius: 20px;
    border-style: solid;
    border-width: 6px;
    display: flex;
    justify-content: end;
    font-size: 30px;
    align-items: flex-end;
    flex-direction: column;
    filter: brightness(60%);
}

.ca_info{
  position: absolute;
  top: 10%;
  left: 54%;
  /* transform: translate(-50%, -50%); */
  font-size: 2vw;
  color: rgb(58, 48, 29);
  font-weight: 900;
  margin-right: 3%;

}
.dispatch_form{
  position: relative;
  top: 10vh;
  margin-inline: 15px;
  max-width: 800px;
  margin: 0 auto;
}

.ca_button{
  background-color: #660101;
  font-size: 1.5vw;
  border-radius: 10px;
  padding: 10px;
  margin-top: 10px;
  font-weight: 600;
  color: aliceblue;
}

@keyframes focus-in-contract {
    
  0% {
    letter-spacing:1em;
    filter:blur(12px);
    opacity:0;
  }
  100% {
    filter:blur(0);
    opacity:1;
  }
}
@keyframes focus-in-expand-top {
			
  0% {
    letter-spacing:-.5em;
    transform:translateY(-300px);
    filter:blur(12px);
    opacity:0;
  }
  0% {
    transform:translateY(0);
    filter:blur(0);
    opacity:1;
  }
}

@media screen and (max-width: 820px) and (min-width: 700px) {
  .bgText{
    top: 42%;
  }
  .anwesha_bg_img{
    background-image: url("../public/anwesha_bg_mobile.png");
    align-items: center;
    height: 100%;
  }
}
@media screen and (max-width: 1000px) and (min-width: 820px) {
  .bgText{
    top: 55%;
  }
}
@media screen and (max-width: 1030px) and (min-width: 1000px) {
  .bgText{
    top: 70%;
  }
}
@media screen and (max-width: 1600px) and (min-width: 800px) {
  .anwesha_text_image{
    top: -4vh;
    left: -594px;
    height: 100px;
  }
}

@media screen and (min-width: 800px) {
  .anwesha_bg_img{
    aspect-ratio: 16/9;
  }
}
@media screen and (max-width: 800px) {
  .anwesha_bg_img{
    background-image: url("../public/anwesha_bg_mobile.png");
    align-items: center;
    height: 100%;
  }
  .anwesha_text_image{
    visibility: hidden;
  }
  .bgText{
    font-size: 7vw;
    top: 50%;
    margin: 10px;
    animation: focus-in-expand-top 3.2s ease 2s infinite normal none;
  }
  .ca_poster{
    height: 60vw;
    width: 90%;
    margin-left: 5%;
  }
  .ca_info{
    position: relative;
    top: 100%;
    left: 0%;
    margin-left: 5%;
    margin-top: 15px;
  }
  .ca_button{
    background-color: #660101;
    font-size: 1.7vw;
    border-radius: 10px;
    padding: 8px;
    margin-top: 10px;
    font-weight: 600;
    color: aliceblue;
  }
}
@media screen and (max-width:580px){
  .socials{
    top: 20%;
  flex-direction: column;
  right: 20px;
  top: 70%;
  }
}