@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");
.comingsoon_body{
  background-color:#FFF6A5;
  /* height: 100vh; */
  overflow: hidden;
}
.anwesha_bg_img {
  font-family: "Poppins", sans-serif;
  background-image: url("/bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: repeat-y;
}
.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 40px auto;
}
.text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.anweshaText {
  letter-spacing: -10px;
  font-size: 96px;
  margin: 0 auto;
}
.iitp {
  color: "#5D0808";
  letter-spacing: 46px;
  font-size: 32px;
  margin-bottom: 25px;
  margin-left: 50px;
}

.socials{
  position: fixed;
  display: flex;
  flex-direction: row;
  right: 52px;
  top: 5px;
}

.imageElement{
  padding: 10px;
}

.ca{
  position: relative;
  overflow: hidden;
}

.ca_poster{
  background-image: url("/CA.png");
  cursor: pointer;
    background-size: cover;
    background-position: right;
    /* background-size: 100% 100%; */
    background-repeat: no-repeat;
    /* background-position: center; */
    /* width: 100vw; */
    min-height: 270px;
    height: 40vw;
    width: 40vw;
    margin-left: 10vw;
    margin-top: 10vh;
    border-radius: 20px;
    border-style: solid;
    border-width: 6px;
    display: flex;
    justify-content: end;
    font-size: 30px;
    align-items: flex-end;
    flex-direction: column;
    filter: brightness(60%);
}

.ca_heading{
  text-decoration: none;
  color: rgb(58, 48, 29) !important;
}

.ca_info{
  position: absolute;
  top: 10%;
  left: 54%;
  /* transform: translate(-50%, -50%); */
  font-size: 1.45vw;
  color: rgb(58, 48, 29);
  font-weight: 900;
  margin-right: 3%;

}

.ca_info a{
  text-decoration: none;
}

.dispatch_form{
  position: relative;
  top: 10vh;
  margin-inline: 15px;
  max-width: 800px;
  margin: 0 auto;
}

.ca_button{
  background-color: #660101;
  font-size: 1.5vw;
  border-radius: 10px;
  padding: 10px;
  margin-top: 10px;
  font-weight: 600;
  color: aliceblue;
  cursor: pointer;
}

@keyframes focus-in-contract {
    
  0% {
    letter-spacing:1em;
    filter:blur(12px);
    opacity:0;
  }
  100% {
    filter:blur(0);
    opacity:1;
  }
}
@keyframes focus-in-expand-top {
			
  0% {
    letter-spacing:-.5em;
    transform:translateY(-300px);
    filter:blur(12px);
    opacity:0;
  }
  0% {
    transform:translateY(0);
    filter:blur(0);
    opacity:1;
  }
}

@media screen and (max-width: 620px) {
  .anweshaText {
    font-size: 80px;
    letter-spacing: -8px;
    margin: auto;
  }
  .iitp{
    font-size: 24px;
    letter-spacing: 41px;
  }
}

@media screen and (max-width: 535px) {
  .anweshaText {
    font-size: 80px;
    letter-spacing: -8px;
    margin: auto;
  }
  .iitp{
    font-size: 24px;
    letter-spacing: 35px;
  }
}
@media screen and (max-width: 480px) {
  .anweshaText {
    font-size: 73px;
    letter-spacing: -6px;
    margin: auto;
  }
  .iitp{
    font-size: 22px;
    letter-spacing: 31px;
  margin-left: 33px;
  }
}
@media screen and (max-width: 420px) {
  .anweshaText {
    font-size: 60px;
    letter-spacing: -4px;
    margin: auto;
  }
  .iitp{
    font-size: 20px;
    letter-spacing: 25px;
  margin-left: 33px;
  }
}
@media screen and (max-width: 355px) {
  .anweshaText {
    font-size: 50px;
    letter-spacing: -2px;
    margin: auto;
  }
  .iitp{
    font-size: 19px;
    letter-spacing: 20px;
  margin-left: 30px;
  }
  /* .comingsoon{
    font-size: 35px;
  } */
}
@media screen and (max-width: 309px) {
  .anweshaText {
    font-size: 37px;
    letter-spacing: 0;
    margin: auto;
  }
  .iitp{
    font-size: 17px;
    letter-spacing: 14px;
  margin-left: 25px;
  }
  /* .comingsoon{
    font-size: 28px;
  } */
}

@media screen and (max-width: 820px) and (min-width: 700px) {
  .bgText{
    top: 42%;
  }
}
@media screen and (max-width: 1000px) and (min-width: 820px) {
  .bgText{
    top: 55%;
  }
}
@media screen and (max-width: 1030px) and (min-width: 1000px) {
  .bgText{
    top: 70%;
  }
}
@media screen and (max-width: 1600px) and (min-width: 800px) {
  .anwesha_text_image{
    top: -4vh;
    left: -594px;
    height: 100px;
  }
}

@media screen and (min-width: 800px) {
}
@media screen and (max-width: 800px) {
  .anwesha_text_image{
    visibility: hidden;
  }
  .bgText{
    font-size: 7vw;
    top: 50%;
    margin: 10px;
    animation: focus-in-expand-top 3.2s ease 2s infinite normal none;
  }
  .ca_poster{
    height: 60vw;
    width: 90%;
    margin-left: 5%;
  }
  .ca_info{
    position: relative;
    top: 100%;
    left: 0%;
    margin-left: 5%;
    margin-top: 15px;
  }
  .ca_button{
    background-color: #660101;
    font-size: 1.7vw;
    border-radius: 10px;
    padding: 8px;
    margin-top: 10px;
    font-weight: 600;
    color: aliceblue;
  }
}
@media screen and (max-width:580px){
  .socials{
    display: none;
  }
}