@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");

.comingsoon_body {
  height: 100vh;
}
.anwesha_bg_img {
  font-family: "Poppins", sans-serif;
  background-image: url("../public/bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: repeat-y;
  height: 100vh;
}

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 40px auto;
}

.text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* width: 100vw; */
}

.comingsoon {
  font-size: 42px;
  margin: auto;
}

.anweshaText {
  letter-spacing: -10px;
  font-size: 96px;
  margin: 0 auto;
}

.iitp {
  color: "#5D0808";
  letter-spacing: 46px;
  font-size: 32px;
  margin-bottom: 25px;
  margin-left: 50px;
}

.parent{
  width: 100vw;
  text-align: center;
  display: flex;
}

.socials{
  display: flex;
  flex-direction: row;
  margin: 0px auto;
}

.imageElement{
  margin: 20px 20px;
}

@media screen and (max-width: 620px) {
  .anweshaText {
    font-size: 80px;
    letter-spacing: -8px;
    margin: auto;
  }
  .iitp{
    font-size: 24px;
    letter-spacing: 41px;
  }
}

@media screen and (min-width: 1019px) {
  .parent{
    position: absolute;
    bottom: 0;
  }
}

@media screen and (max-width: 535px) {
  .anweshaText {
    font-size: 80px;
    letter-spacing: -8px;
    margin: auto;
  }
  .iitp{
    font-size: 24px;
    letter-spacing: 35px;
  }
}
@media screen and (max-width: 480px) {
  .anweshaText {
    font-size: 73px;
    letter-spacing: -6px;
    margin: auto;
  }
  .iitp{
    font-size: 22px;
    letter-spacing: 31px;
  margin-left: 33px;
  }
}
@media screen and (max-width: 420px) {
  .anweshaText {
    font-size: 60px;
    letter-spacing: -4px;
    margin: auto;
  }
  .iitp{
    font-size: 20px;
    letter-spacing: 25px;
  margin-left: 33px;
  }
}
@media screen and (max-width: 355px) {
  .anweshaText {
    font-size: 50px;
    letter-spacing: -2px;
    margin: auto;
  }
  .iitp{
    font-size: 19px;
    letter-spacing: 20px;
  margin-left: 30px;
  }
  .comingsoon{
    font-size: 35px;
  }
}
@media screen and (max-width: 309px) {
  .anweshaText {
    font-size: 37px;
    letter-spacing: 0;
    margin: auto;
  }
  .iitp{
    font-size: 17px;
    letter-spacing: 14px;
  margin-left: 25px;
  }
  .comingsoon{
    font-size: 28px;
  }
}
