@font-face {
    font-family: "BroadwayShadow";
    src: url("../styles/fonts/BroadwayShadow.ttf");
}

.container{
    background-image: url('../images/gallery_bg.png');
}

.hero {
    background-image: url(/multicity/bhopal.png);
    aspect-ratio: 16/9;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    width: 100vw;
    height: 101vh;
}

.mainHeading {
    margin-bottom: 4rem;
    margin-top: 5rem;
    text-align: center;
    color: #2B0072;
    font-family: BroadwayShadow;
    font-size: 6vw;
    font-weight: 400;
    /* left: 4%; */
}
.subHeading {
    margin-bottom: 4rem;
    margin-top: 1rem;
    text-align: center;
    color: #2B0072;
    font-family: BroadwayShadow;
    font-size: 4vw;
    font-weight: 400;
    /* left: 4%; */
}

.mainForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    /* margin-right: 2vw; */
    /* height: 70vh; */
}

.form_row{
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.field {
    margin-bottom: 30px;
}

.field input {
    width: 40vw;
    height: 45px;
    margin: 2px;
    border-radius: 5px;
    padding: 2px 15px;
    font-size: 17px;
    border-color: #2B0072;
    border-bottom: 2px solid #2B0072;
    border-top: 0;
    border-left: 0;
    border-right: 0;
}

.field input:focus {
    outline: none;
}

.field label {
    font-size: 20px;
    color: #2B0072;
    padding-inline: 5px;
}


.buttonWrapper {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 60vw;
    max-width: 700px;
    display: flex;
    justify-content: center;
}

.buttonWrapper button {
    width: 200px;
    height: 45px;
    font-size: 25px;
    margin-top: 20px;
    border-radius: 7px;
    cursor: pointer;
    background-color: #2B0072;
    color: aliceblue;
}

.members {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.member_input {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 20px;
}

.member_input span {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;
    background-color: #6833FF;
    color: #FFFFFF;
    height: 40px;
    width: 40px;
    border-radius: 20px;
    margin-right: 20px;
}

.member_input div {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;
    background-color: #6833FF;
    color: #FFFFFF;
    padding: 2px 5px 2px 5px;
    border: 4px 4px 4px 0px solid #6833FF;
    box-shadow: 0px 4px 4px #6833FF;
    border-radius: 5px 0px 0px 5px;
}

.member_input input {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    background: #FFFFFF;
    border: 4px 4px 4px 0px solid #6833FF;
    box-shadow: 0px 4px 4px #6833FF;
    border-radius: 0px 5px 5px 0px;
    outline: none;
    width: 150px;
    text-align: center;
    text-transform: uppercase;
}

.member_input img {
    height: 35px;
    margin-left: 10px;
    cursor: pointer;
    transition: 0.5s;
}

.member_input img:hover {
    transform: scale(1.05);
}

.add_member_btn {
    display: flex;
    align-items: center;
    width: fit-content;
    padding: 2px 7px 2px 7px;
    cursor: pointer;
    color: #FFFFFF;
    background: #6833FF;
    border: 1px solid #4F4F4F;
    border-radius: 5px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 900;
    font-size: 13px;
    line-height: 36px;
}

.add_member_btn img {
    height: 30px;
    margin-right: 5px;
}

.register_btn {
    width: fit-content;
    padding: 5px 10px 5px 10px;
    cursor: pointer;
    color: #FFFFFF;
    background: #6833FF;
    border: 1px solid #4F4F4F;
    border-radius: 5px;
    margin: 10px auto 20px auto;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 900;
    font-size: 25px;
    line-height: 36px;
}

@media only screen and (max-width: 860px) {
    .form {
        flex-direction: column;
        align-items: center;
        padding-inline: 20px;
    }

    .mainForm {
        align-items: center;
        /* height: 100vh; */
    }


    .mainHeading {
        font-size: 10vw;
    }

    .form_row{
        flex-direction: column;
    }

    .form_row .field input{
        width: 80vw;
    }

    .field input {
        width: 80vw;
    }

    .members {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        width: 80vw;
    }

    .subHeading {
        font-size: 30px;
    }
    .mainHeading {
        font-size: 45px;
    }
}