/* CSS reset  */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

button{
    overflow-y: hidden;
}

h1, h2, h3, h4, h5, h6{
    line-height: normal !important;
}
