.bg{
    background-image:url(/home/homepagebg.svg) ;
    background-repeat: repeat;
    background-size: 100%;
    background-color: #6BD3FF;
    background-attachment: fixed;
}


.parentcontainer {
    
    /* width: 100vw; */
    background-image: url(/home/homefront.png);
    background-repeat: no-repeat;
    margin-top: 50px;
    height: 65vw;
    background-size: 100%;
    background-position: top center;
    padding-top:4.16vw;
}
.regdiv{
    display: flex;
    justify-content: center;
    margin-top: 26vw;
}
.logo{
    width: 21.62vw;
    height: 8.392vw;
}
@media screen and (max-width: 750px)
{
    .parentcontainer{
        height: 600px;
    background-size: cover;
    margin-top: 56px;
    padding-top: 30px;
    }
    .logo{
        width: 227px;
        height: 88.27px;
    }
    .regdiv{
        margin-top: 60vw;
    }
}
@media screen and (max-width: 450px)
{
    .regdiv{
        margin-top: 90vw;
    }
    .bg{
        background-size:150%;
    }
}
.reglink{
    display: inline-flex;
padding: 18px 54px;
align-items: center;
gap: 7px;
border-radius: 32px;
background: #0C0F47;

text-decoration: none;
}
.regfont{
    color: #FFF;
text-align: center;
font-family: "Poppins";
font-size: 24px;
font-style: normal;
font-weight: 600;
line-height: normal;

}


/* .blendHomeSection {
    top: 104vh;
    position: absolute;
    width: 100%;
    height: 9vh;
    background: rgba(255, 255, 255, 0);
    z-index: 1;
    backdrop-filter: blur(10px);
} */

.steps{
    width: 1070px;
    height: 342px;
    background: url("/home/steps.svg");
    background-repeat: no-repeat;
    background-position: center;
    z-index: 2;
}

.ticketContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url("/home/ticketbg.png");
    min-height: 822px;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 100px;
    margin-bottom: 100px;
}

.ticketDetails{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ticketImages{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    width: 55vw;
    max-width: 900px;
    min-width: 330px;
    height: 100%;
}

@media screen and (max-width: 1080px){
  .ticketContainer{
    background: url("/home/ticketbg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 1360px;
    margin: 0 auto;
    border-radius: 20px;
  }
  .ticketDetails{
    height: 180px;
  }
  .ticketImages{
    flex-direction: column;
    justify-content: space-evenly;
    padding: 0;
  }
}

@media screen and (max-width: 1071px){
  .steps{
    background: url("/home/steps-mobile.svg");
    width: 100vw;
    min-height: 600px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
}

.lecturehall {
    position: absolute;
    top: 400px;
    left: 400px;
}

.eventSection {
    background: url(/home/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    padding-top: 100px;
    padding-bottom: 100px;
    transform: translateY(-50px);
}

.eventSectionContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.eventSectionText {
    max-width: 600px;
    padding: 30px;
    background: #fff;
    font-weight: 400;
    font-size: 16px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.themeSection {
    width: 100%;
    padding-top: 100px;
    padding-bottom: 100px;
    transform: translateY(-52px);
}

.themeSectionContainer {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.themeSectionText {
    max-width: 600px;
    padding: 30px;
    background: #fff;
    font-weight: 400;
    font-size: 16px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.homebtn {
    padding: 15px 10px;
    gap: 10px;
    width: 60%;
    height: 51px;
    background: #000000;
    border-radius: 10px;
    font-weight: 700;
    font-size: 16px;
    cursor: pointer;
    color: #fff;
}

.homebtn:hover {
    background: #fff;
    color: #000;
    border: 2px solid #000;
}

@media screen and (max-width: 1550px) {
    .blendHomeSection {
        display: none;
    }
}

@media screen and (max-width: 1171px) {
    .lecturehall {
        display: none;
    }
}

@media screen and (max-width: 1134px) {
    .themeSectionContainer {
        flex-direction: row;
    }
    .merchContainer:nth-child(2n+1) {
        flex-direction: column;
    }
    .merchContainer:nth-child(2n) {
        flex-direction: column-reverse;
    }
}

/* @media screen and (max-width: 610px) {
    .parentcontainer {
        height: 100vh;
    }

} */

@media screen and (max-height: 790px) {
    .blendHomeSection {
        display: block;
    }
}


/* Merchandise Container */
.merchContainer {
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(0,0,0,0);
}
@media screen and (min-width: 2300px)
{
    .merchContainer{
        height: 80vw;
    }
    
}

.tshirtImage {
    width: auto;
    /* width: 40%; */
    /* position: relative;
    top: 318px;
    margin-left: 70px; */
}

@media screen and (max-width: 700px) {
  .tshirtImage {
    width: 350px;
    height: 320px;
  }
}


.priceRow {
    display: flex;
    flex-direction: row;
    position: relative;
    overflow: hidden;
    /* padding-bottom: 20px; */
    margin-top: 25px;
}

.priceCol {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    /* height: 105%; */
    width: 100%;
    overflow: hidden;
}


.tshirtText {
    font-size: 20px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 10px;
    overflow: hidden;
}


.merchPrice {
    font-size: 20px;
    font-weight: 700;
    color: #000000;
    text-transform: uppercase;
    background-color: #CCC9FF;
    padding-block: 10px;
    padding-inline: 20px;
    width: 141px;
    overflow: hidden;
    text-align: center;
    border-radius: 50px;
}

.card{
    padding: 36px 32px 24px 32px;
    height: fit-content;
    width: 40vw;
    border-radius: 16px;
    background: #FFF;
    box-shadow: 6px 8px 8px 0px rgba(0, 0, 0, 0.10);
    margin-bottom: 30px;
}

.text1
{
    color: #000;
font-size: 46px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.text2
{
    margin-top: 10px;
    color: #000;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    align-self: stretch;
}
@media screen and (max-width: 1150px)
{

 .card{
        width: 60vw;
    }
        .merchimg{
        width:70vw;
        height: auto;
        align-items: center;
    }
}

@media screen and (max-width: 750px){
    .merchimg{
        width: 100vw;
        height: auto;
    }
    .card{
        width: 97vw;
        padding: 32px 20px 24px 20px;

    }
    .text1{
        font-size: 36;
        font-weight: 650;
    }
}


.merchBooking img {
    height: 350px;
}



.merchBookBtn {
    
    display: flex;
    padding: 18px 36px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    border-radius: 16px;
    background: #00354C;
    width: 100%;
border: none;
color: #FFF;
text-align: center;
font-family: "Poppins";
font-size: 24px;
font-style: normal;
font-weight: 650;
line-height: normal;
    text-decoration: none !important;
    cursor: pointer;

}

.merchBookBtn2 {
    display: flex;
padding: 12px 22px;
justify-content: center;
align-items: center;
gap: 10px;
align-self: stretch;
border-radius: 16px;
background: #00354C;
border: none;
color: #FFF;
text-align: center;
font-family: "Poppins";
font-size: 18px;
font-style: normal;
font-weight: 650;
line-height: normal;
width: 100%;
    text-decoration: none;
    display: none;
    cursor: pointer;
}


.mobileBuyNow{
    overflow:hidden;
    text-decoration: none;
    display: none;
}

.grabMerchText{
    font-size: 45px;
    font-weight: 700;

}
@media screen and (max-width: 1134px) {
    .merchContainer:nth-child(2n+1) {
        flex-direction: column;
    }
    .merchContainer:nth-child(2n) {
        flex-direction: column-reverse;
    }
}

@media screen and (max-width: 1171px) {
    .merchBookBtn {
        display: none;
    }
    .merchContainer{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height:fit-content;
    }
    .merchBookBtn2 {
        display: block;
    }
    .mobileBuyNow{
        display: block;
    }

   
}


.artistPoster{
    display: inline-table;
    display: flex;
    align-content: center;
    position: relative;
    /* top: 34px; */
    /* margin-top: 82px; */
    justify-content: center;
    align-items: center;
    /* height: 120%; */
    flex-direction: column;
}

.artistImg{
    width: 40% !important;
    max-width: 700px;
    min-width: 600px;
    display: block;
}

.artistImgMob{
    display: none !important;
}

@media screen and (max-width: 450px) {
    .artistImg{
        /* width: 100% !important; */
        display: none !important;
    }
    .artistImgMob{
        width: 54% !important;
        display: block !important;
    }
    .carouselArrow{
        height: 30px;
    }
    .carouselArrowDivLeft{
        left: 2% !important;
    }
    .carouselArrowDivRight{
        right: 2% !important;
    }
}

