.parentcontainer {
    height: 117vh;
    /* width: 100vw; */
    background-image: url(/home/homepage_bg.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.blendHomeSection {
    top: 104vh;
    position: absolute;
    width: 100%;
    height: 9vh;
    background: rgba(255, 255, 255, 0);
    z-index: 1;
    backdrop-filter: blur(10px);
}

.steps{
    width: 1070px;
    height: 342px;
    background: url("/home/steps.svg");
    background-repeat: no-repeat;
    background-position: center;
    z-index: 2;
}

.ticketContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url("/home/ticketbg.png");
    min-height: 822px;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 100px;
    margin-bottom: 100px;
}

.ticketDetails{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ticketImages{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    width: 55vw;
    max-width: 900px;
    min-width: 330px;
    height: 100%;
}

@media screen and (max-width: 1080px){
  .ticketContainer{
    background: url("/home/ticketbg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 1360px;
    margin: 0 auto;
    border-radius: 20px;
  }
  .ticketDetails{
    height: 180px;
  }
  .ticketImages{
    flex-direction: column;
    justify-content: space-evenly;
    padding: 0;
  }
}

@media screen and (max-width: 1071px){
  .steps{
    background: url("/home/steps-mobile.svg");
    width: 100vw;
    min-height: 600px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
}

.lecturehall {
    position: absolute;
    top: 400px;
    left: 400px;
}

.eventSection {
    background: url(/home/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    padding-top: 100px;
    padding-bottom: 100px;
    transform: translateY(-50px);
}

.eventSectionContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.eventSectionText {
    max-width: 600px;
    padding: 30px;
    background: #fff;
    font-weight: 400;
    font-size: 16px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.themeSection {
    background: url(/home/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    padding-top: 100px;
    padding-bottom: 100px;
    transform: translateY(-52px);
}

.themeSectionContainer {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.themeSectionText {
    max-width: 600px;
    padding: 30px;
    background: #fff;
    font-weight: 400;
    font-size: 16px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.homebtn {
    padding: 15px 10px;
    gap: 10px;
    width: 60%;
    height: 51px;
    background: #000000;
    border-radius: 10px;
    font-weight: 700;
    font-size: 16px;
    cursor: pointer;
    color: #fff;
}

.homebtn:hover {
    background: #fff;
    color: #000;
    border: 2px solid #000;
}

@media screen and (max-width: 1550px) {
    .blendHomeSection {
        display: none;
    }
}

@media screen and (max-width: 1171px) {
    .lecturehall {
        display: none;
    }
}

@media screen and (max-width: 1134px) {
    .themeSectionContainer {
        flex-direction: row;
    }
}

@media screen and (max-width: 610px) {
    .parentcontainer {
        height: 100vh;
    }

}

@media screen and (max-height: 790px) {
    .blendHomeSection {
        display: block;
    }
}


/* Merchandise Container */
.merchContainer {
    height: 750px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.tshirtImage {
    width: auto;
    /* width: 40%; */
    /* position: relative;
    top: 318px;
    margin-left: 70px; */
}

@media screen and (max-width: 700px) {
  .tshirtImage {
    width: 350px;
    height: 320px;
  }
}
.merchDetails {
    background-color: #504ABC;
    display: flex;
    padding-bottom: 20px;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    background-image: url('/merch/tshirt_with_bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.priceRow {
    display: flex;
    flex-direction: row;
    position: relative;
    overflow: hidden;
    /* padding-bottom: 20px; */
    margin-top: 25px;
}

.priceCol {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    /* height: 105%; */
    width: 100%;
    overflow: hidden;
}


.tshirtText {
    font-size: 20px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 10px;
    overflow: hidden;
}

.merchPrice {
    font-size: 20px;
    font-weight: 700;
    color: #000000;
    text-transform: uppercase;
    background-color: #CCC9FF;
    padding-block: 10px;
    padding-inline: 20px;
    width: 141px;
    overflow: hidden;
    text-align: center;
    border-radius: 50px;
}

.merchBooking {
    background-color: #7570D7;
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: flex-start;
    justify-content: center;
    width: 50%;
    padding-inline: 16%;
}

.merchBooking img {
    height: 350px;
}


.merchBookBtn {
    background-color: #fff;
    width: 401px;
    height: 70px;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 700;
    color: #000000;
    border: 3px solid #000000;
    text-align: center;
    text-decoration: none;
    transition: 0.3s;
    cursor: pointer;
}

.merchBookBtn2 {
    margin-top: 50px;
    background-color: #fff;
    width: 401px;
    height: 70px;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 700;
    color: #000000;
    border: 3px solid #000000;
    text-align: center;
    text-decoration: none;
    display: none;
    cursor: pointer;
}
.merchBookBtn:hover {
    background-color: #000000;
    color: #fff;
}

.mobileBuyNow{
    overflow:hidden;
    text-decoration: none;
    display: none;
}

.grabMerchText{
    font-size: 45px;
    font-weight: 700;

}

@media screen and (max-width: 450px){
  .merchBookBtn2{
    width: 300px;
  }
}

@media screen and (max-width: 1171px) {
    .merchBooking {
        display: none;
    }
    .merchContainer{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 1014px;
        background-color: #504ABC;
    }
    .merchBookBtn2 {
        display: block;
    }
    .mobileBuyNow{
        display: block;
    }
    .merchDetails{
        width: 100%;
        align-items: center;
        height: 50%;
    }
}
