.hero{
    background-image: url('../images/hero.jpg');
    background-size: cover;
    background-position: center;
    height: 80vh;
    display: flex;
    justify-content: center; 
     align-items: center;
    flex-direction: column;
}