.parentcontainer{
    height: 117vh;
    width: 100vw;
    background-image: url(/homepage/homepage_bg.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.lecturehall{
    position: absolute;
    top: 400px;
    left: 400px;
}

@media screen and (max-width: 1171px){
   .lecturehall{
        display: none;
    }
}

@media screen and (max-width: 610px){
    .parentcontainer{
        height: 100vh;
    }
   
}

