.parentcontainer{
    height: 117vh;
    width: 100vw;
    background-image: url(/home/homepage_bg.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.lecturehall{
    position: absolute;
    top: 400px;
    left: 400px;
}

.eventSection{
    background: url(/home/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 500px;
}

.eventSectionContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

@media screen and (max-width: 1171px){
   .lecturehall{
        display: none;
    }
}

@media screen and (max-width: 610px){
    .parentcontainer{
        height: 100vh;
    }
   
}

