.parentcontainer{
    height: 100vh;
    width: 100vw;
    background-image: url(/homepage/homepage_bg.png);
    background-repeat: no-repeat;
    background-size: cover;
}

/* .sac_animation{
    position: absolute;
    top: 50%;
    left: 20%;
} */