@font-face {
    font-family: 'BroadwayShadow';
    src: url('./fonts/BroadwayShadow.ttf');
}
.anwesha_bg_img {
    background: #2c2a5d;
    height: fit-content;
}

.heading_color {
    background-color: #a33682;
    color: white;
    text-align: center;
    font-family: Poppins;
    font-style: normal;
    font-size: 18px;
    font-weight: 100;
    letter-spacing: 3.3px;
    text-transform: uppercase;
    border-color: #a33682;
}

.heading {
    margin: auto;
    margin-bottom: 4vw;
    padding: 0.66vw;
    color: #fff;
    text-shadow: 0.8vw 1vw 0.4vw rgba(0, 0, 0, 0.25);
    font-family: Poppins;
    font-size: 6.7vw;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.rightleaf {
    width: 135px;
    left: 2vw;
}
.leftleaf {
    width: 135px;

    transform: scaleX(-1);
    right: 2vw;
}

@media only screen and (max-width: 900px) {
    .leftleaf {
        width: 15vw;
    }
    .rightleaf {
        width: 15vw;
    }
    .heading_color {
        font-size: 13px;
    }
}

@media only screen and (max-width: 400px) {
    .heading_color {
        font-size: 10px;
    }
}
