.hero {
    background-image: url(/multicity/lucknow.png);
    aspect-ratio: 16/9;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    width: 100vw;
    height: 101vh;
}

.title {
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    margin: 58px 0;
}

.container {
    margin: 10px;
}

.description {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    flex-wrap: wrap;
}

.text {
    width: 60%;
    min-width: 260px;
}
.heading {
    font-size: 30px;
    font-weight: 800;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}
.content {
    font-weight: 400;
}
.btn {
    background-color: #f5f5f5;
    border: 1px solid #f5f5f5;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 20px;
    font-weight: 800;
    margin: 10px 0 0 0;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    width: 140px;
    color: black !important;
}
.btn:hover {
    background-color: black;
    color: white !important;
}
.btn > *{
    color: black !important;
}
.btn > *:hover{
    color: white !important;
}
.gallery {
    margin-top: 80px;
}

/* responsive css */
@media screen and (max-width: 850px) {
    .hero {
        background-image: url(/multicity/lucknow.png);
        aspect-ratio: 9/16;
    }
}
