.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 100px;
    background-color: #A19CFF;
    ;

}
/* TODO : Remove these to show other sections */
.merchContainer{
    display: none !important;
}
.otherMerch{
    display: none !important;
}

.merchContainer {
    height: 810px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-radius: 15px;
    box-shadow: 8px 8px 0px #000000;
    margin: 20px;
    width: 85vw;
    margin-bottom: 150px;
}
.merchContainer2 {
    height: 810px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-radius: 15px;
    box-shadow: 8px 8px 0px #000000;
    margin: 20px;
    width: 85vw;
    margin-bottom: 150px;
}

.tshirtImage {
    width: auto;
    /* width: 40%; */
    /* position: relative;
    top: 318px;
    margin-left: 70px; */
}

@media screen and (max-width: 700px) {
  .tshirtImage {
    width: 350px;
    height: 320px;
  }
}
.merchDetails {
    /* background-color: #504ABC; */
    display: flex;
    padding-bottom: 20px;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    background-image: url('/merch/tshirt_with_bg.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.merchDetails2 {
    background-color: #504ABC;
    display: flex;
    padding-bottom: 20px;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    /* background-image: url('/merch/tshirt_with_bg.png'); */
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.priceRadio{
    background: #443EA3;
    border-radius: 20px;
    display: flex;
    padding: 20px;
    align-content: space-around;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-block-end: 50px;
    align-items: center;
}

.priceBlob{
    background: #FFC960;
    border: 1px solid #000000;
    border-radius: 32px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 16px;
    gap: 10px;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    color: #060606;
}

.itemDetails{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.itemDetails span:nth-child(1){
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 115%;
    overflow: hidden;
}

.itemDetails span:nth-child(2){
    font-family: 'Poppins';
    font-style: normal;
    font-size: 22px;
    line-height: 115%;
    overflow: hidden;
}

.radioContainer{
    margin-block: auto;
}

.priceRadioBtn{
    background-color: #443EA3;;
    margin: 0;
    font: inherit;
    color: white;
    width: 2.2em;
    height: 2.2em;
    border: 0.15em solid white;
    border-radius: 50%;
    display: grid;
    place-content: center;
}

.priceRadioBtn:hover{
    background-color: #FFC960;
    border: 0.15em solid white;
}



.merchBooking {
    background-color: #7570D7;
    display: flex;
    flex-direction: column;
    gap: 50px;
    /* align-items: center; */
    /* justify-content: center; */
    width: 50%;
    padding: 50px;
}

.merchBooking img {
    height: 350px;
}

.merchBooking span{
    color: #fff;
}

.shopNowBtn{
    display: flex;
    align-items: center;
    justify-content: center;
}
.upperShopNowBtn{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 150px;
}

.merchBookBtn {
    background-color: #fff;
    width: 401px;
    height: 70px;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 700;
    color: #000000;
    border: 3px solid #000000;
    text-align: center;
    text-decoration: none;
    transition: 0.3s;
    margin-top: 40px;
}

.sizeChartBtn {
    background-color: transparent;
    width: 201px;
    height: 70px;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 700;
    color: white;
    border: 3px solid #fff;
    text-align: center;
    text-decoration: none;
    transition: 0.3s;
    margin-top: 40px;
}

.merchBookBtn2 {
    margin-top: 50px;
    background-color: #CCC9FF;
    width: 401px;
    height: 70px;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 700;
    color: #000000;
    border: 3px solid #000000;
    text-align: center;
    text-decoration: none;
    display: none;
}
.merchBookBtn:hover {
    background-color: #000000;
    color: #fff;
}

.mobileBuyNow{
    overflow:hidden;
    text-decoration: none;
    display: none;
}

.grabMerchText{
    font-size: 45px;
    font-weight: 700;

}

.upperBtn{
    margin-top: 150px;
}


@media screen and (max-width: 1171px) {
    .merchBooking {
        width: 100%;
    }
    .merchContainer{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 1236px;
        background-color: #504ABC;
    }
    .merchContainer2{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 1300px;
        background-color: #504ABC;
    }
    .merchBookBtn2 {
        display: block;
    }
    .mobileBuyNow{
        display: block;
    }
    .merchDetails{
        width: 100%;
        align-items: center;
        height: 50%;
    }
    .merchBooking{
        width: 100%;
        align-items: center;
        gap: 27px;
    }
    .upperShopNowBtn{
        margin-top: 0;
    }
}


@media screen and (max-width: 650px){
  .grabMerchText{
    font-size: 25px;
  }
  .priceRadio{
    margin-inline: 6px;
    flex-direction: column;
    gap: 10px;
  }
  .merchContainer{
    height: 1056px;
  }
  .merchContainer2{
    height: 1600px;
  }
  .merchBookBtn{
    width: 300px;
  }
  .merchDetails{
    height: 20%;
  }
  .merchDetails2{
    height: 30%;
    width: 100%;
    display: flex;
    align-items: center;
  }
  .merchDetails2 img{
    transform: scale(1.5);
    width: 75%;
  }
  .sizeChartBtn{
    margin-top: 100px;
  }
}

.otherMerch{
    display: flex;
    flex-direction: row;
    margin-bottom: 80px;
    padding: 20px;
    flex-wrap: wrap;
    justify-content: space-around;
}

.merchCard{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    padding: 40px;
    background-color:#504ABC;
    box-shadow: 6px 6px 0px #000000;
    margin: 30px;
}

.merchCard img{
    width: 250px;
    height: 250px;
    border-radius: 20px;
    margin-block: 10px;
}

.merchCard .textContainer span{
    color: #fff;
    font-size: 25px;
    font-weight: 700;
    margin-block: 10px;

}

.merchCard .textContainer div{
    margin-block: 10px;
}

.otherMerchBtn{
    background-color: #fff;
    width: 301px;
    height: 70px;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 700;
    color: #000000;
    border: 3px solid #000000;
    text-align: center;
    text-decoration: none;
    transition: 0.3s;
}

.otherMerchBtn:hover{
    background-color: #000000;
    color: #fff;
}

.textContainer{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
}

@media screen and (max-width: 650px){
    .otherMerchBtn{
        width: 200px;
    }
}