.nav_div{
  position: relative;
  background-color: rgb(34, 198, 201);
  height: 12rem;
  
}

.navbar_3{
position: absolute;
left:0
}

.navbar_4{
position: absolute;
right:-.50%;
}

.navbar_2{
  position: absolute;
  left: 44%;
}
 .navbar_1{
  width: 100%;
  position: absolute;
  top:25%;
  transform: rotateX(180deg);
  } 

.item_1{
  position: absolute;
  left:60%;
  top:15%;
  font-family: 'Poppins', sans-serif;
  color: white;

}
.item_2{
  position: absolute;
  left:65.5%;
  top:15%;
  font-family: 'Poppins', sans-serif;
  color: white;

}
.item_3{
  position: absolute;
  left:76%;
  top:15%;
  font-family: 'Poppins', sans-serif;
  color: white;

}

.main{
  position: relative;
}

.h1{
  font-family: 'Poppins', sans-serif;
  font-weight: 900;
  font-size: 1.7rem;
  margin-left: 2rem;
}

.h2{
  font-family: 'Poppins', sans-serif;
  font-weight: 900;
  font-size: 1.7rem;
  margin-left: 2rem;
}
.h3{
  font-family: 'Poppins', sans-serif;
  font-weight: 900;
  font-size: 1.7rem;
  margin-left: 2rem;

}
.h4{
  font-family: 'Poppins', sans-serif;
  font-weight: 900;
  font-size: 1.7rem;
  margin-left: 2rem;
}

/* .div_image{
  position: relative;
} */

.nav_image{
top:5%;
width: 100%;
height: 50%;
overflow: hidden;
position: absolute;

}

.headings{
  position: absolute;
  top:60%;
  left:7%;
  font-family: 'Poppins', sans-serif;
}
.headings_2{
  position: absolute;
  top:74%;
  left:7%;
  opacity: 0.7;
  font-family: 'Poppins', sans-serif;
}

@media only screen and  (max-width:1200px){
  .navbar_1{
       top:40%;
       transition: ease-in-out;
       transition: 1s;
  }
}

@media only screen and  (max-width:1000px){
  .nav_div{
      display: none;
  }
}

@media only screen and  (max-width:1600px){
  .main{
      display: none;
  }
}
@media only screen and  (max-width:1000px){
  .main{
      display: initial;
  }
}

@media only screen and  (max-width:1600px){
  .nav_image{
      display: none;
  }
}
@media only screen and  (max-width:1000px){
  .nav_image{
      display: initial;
  }
}
@media only screen and  (max-width:1600px){
  .headings{
      display: none;
  }
}
@media only screen and  (max-width:1000px){
  .headings{
      display: initial;
  }
}
@media only screen and  (max-width:1600px){
  .headings_2{
      display: none;
  }
}
@media only screen and  (max-width:1000px){
  .headings_2{
      display: initial;
  }
}


