.parentContainer{
    background: linear-gradient(169deg, #81D9FF -6.11%, #D4F2FF 107.75%);
    background-image:url(/home/cloud.svg);
    background-attachment: fixed;
    background-repeat: repeat;
    background-size: 100%;
}
.wave{
     background-image:url(/sponsors/waves.png);
    background-repeat: repeat;
    background-size: 100%;

}

.container{
    margin-inline: 30px;
    padding-block: 100px;
}

.teamHeader{
color: #010031;
text-align: center;
text-shadow: 4px 4px 96px rgba(0, 0, 0, 0.25);
font-size: 100px;
font-style: normal;
font-weight: 700;
line-height: normal;
text-transform: capitalize;
@media screen and (max-width: 750px)
{
    font-size: 14.5vw;
}
}

.teamHeadingBar{
    width: 260px;
    height: 5px;
    background-color: #ffffff;
    margin-inline: auto;
    margin-bottom: 50px;
    border: none;
}

.coordinators{
    display: flex;
    flex-direction: column;
    /* TODO : Complete the styling */
}

.teamSubHeading{
   color: #010031;
text-shadow: 4px 4px 100px rgba(0, 0, 0, 0.25);
font-size: 72px;
font-style: normal;
font-weight: 600;
line-height: normal;
text-transform: capitalize;
margin-left: 1.5vw;
@media screen and (max-width: 950px)
{
    font-size: 9.5vw;
}
}

.teamSubHeadingBar{
    width: 230px;
    height: 5px;
    background-color: #403E9E;
    margin-bottom: 50px;
    border: none;
}

.picContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-grow: 1;
    gap: 25px;
}

.teamCard{
   display: flex;
padding: 15px 40px;
flex-direction: column;
align-items: flex-start;
gap: 5px;
border-radius: 20px;
background: #FFF;
box-shadow: 4px 4px 100px 0px rgba(0, 0, 0, 0.04);
width: min-content;
}

.memberImage{
    /* background-color: #56a5fe; */
    border-radius: 12px;
    /* border: green 2px solid; */
    margin-bottom: 10px;
    object-fit: contain;
}

.teamMemberDetails{
    width: 100%;
}

.memberName{
    color: #102B71;
text-align: center;
font-family: Poppins;
font-size: 22px;
font-style: normal;
line-height: normal;
text-transform: capitalize;
font-weight: 500;
}

.memberCommitte{
    font-size: 16px;
    font-weight: 400;
    line-height: 18.5px;
    overflow: hidden;
    margin-block: 5px;
}