@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&display=swap');
.mainContainer{
    background-image:url(/home/homepagebg.svg) ;
    background-repeat: repeat;
    background-size: 100%;
    background-color: #6BD3FF;
    background-attachment: fixed;
}

.hero{
    padding-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding:80px 4px 0px 4px;

}
.festpass{
    color: #010031;
text-align: right;
font-family: "Josefin Sans";
font-size: 150px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: -7.5px;
margin-bottom: 10px;
}
.logo{
   width: 19.77vw;
    height: 4.96vw;
    margin-bottom: 15px;
}
.eventtext{
    color: #010031;
text-align: center;
font-family: "Josefin Sans";
font-size: 70px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: -3.6px;
margin-bottom: 10px;
}
.merchimg{
    height: 585.4px;
    width: 679.12px;
}

.facultyBtn{
    display: flex;
    padding: 18px 36px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    border-radius: 16px;
    background: #00354C;
    width: 100%;
    text-decoration: none !important;
    cursor: pointer;
    color: #FFF;
    font-family: "Poppins";
    font-size: 24px;
}

.facultyBtn:hover{
    background: #00243C;
}

.btn{
    display: flex;
    padding: 18px 36px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    border-radius: 16px;
    background: #00354C;
    width: 100%;
    text-decoration: none !important;
    cursor: pointer;
    color: #FFF;
    font-family: "Poppins";
    font-size: 24px;
}

.btn:hover{
    background: #00243C;
}

.generalPassCount{
    color: #010031;
    text-align: center;
    font-family: "Josefin Sans";
    font-size: 70px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -3.6px;
    margin-bottom: 10px;
    margin: 0 10px;
}

@media only screen and (max-width: 1000px) {
    .logo{
        width: 170px;
        height: 45.43px;
    }
    .festpass{
        font-size: 105px;
        letter-spacing: -5px;
    }
    
}
@media only screen and (max-width: 500px) {
    .festpass{
        font-size: 18.75vw;
        letter-spacing: -4px;
    }
}

    .merchContainer {
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(0,0,0,0);
}
@media screen and (min-width: 2300px)
{
    .merchContainer{
        height: 80vw;
    }
    
}

.card{
    padding: 64px 64px 64px 64px;
    height: fit-content;
    width: 45vw;
    border-radius: 16px;
    background: #FFF;
    box-shadow: 6px 8px 8px 0px rgba(0, 0, 0, 0.10);
    margin-bottom: 30px;
}

.text1
{
    color: #000;
font-size: 46px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

.text2
{
    margin-top: 10px;
    color: #000;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    align-self: stretch;
}

.merchBookBtn {
    
    display: flex;
    padding: 18px 36px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    border-radius: 16px;
    background: #00354C;
    width: 100%;
border: none;
color: #FFF;
text-align: center;
font-family: "Poppins";
font-size: 24px;
font-style: normal;
font-weight: 650;
line-height: normal;
    text-decoration: none !important;
    cursor: pointer;

}

.merchBookBtn2 {
    display: flex;
padding: 12px 22px;
justify-content: center;
align-items: center;
gap: 10px;
align-self: stretch;
border-radius: 16px;
background: #00354C;
border: none;
color: #FFF;
text-align: center;
font-family: "Poppins";
font-size: 18px;
font-style: normal;
font-weight: 650;
line-height: normal;
width: 100%;
    text-decoration: none;
    display: none;
    cursor: pointer;
}



@media screen and (max-width: 1150px) {
 .merchContainer:nth-child(2n+1) {
        flex-direction: column-reverse;
    }
    .merchContainer:nth-child(2n) {
        flex-direction: column;
    }
    .card{
        width: 60vw;
    }
        .merchimg{
        width:70vw;
        height: auto;
        align-items: center;
    }
     .merchBookBtn {
        display: none;
    }
    .merchContainer{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height:fit-content;
    }
    .merchBookBtn2 {
        display: block;
    }
}

@media screen and (max-width: 750px){
    .merchimg{
        width: 100vw;
        height: auto;
    }
    .card{
        width: 97vw;
        padding: 32px 20px 24px 20px;

    }
    .text1{
        font-size: 36;
        font-weight: 650;
    }
    .merchContainer{
        padding-top: 50px;
        padding-bottom: 50px;
    }
}

/* Set width for different viewports for .hero_heading */
.hero_heading{
    width: 70%;
    min-width: 500px;
}


@media only screen and (max-width: 600px) {
    .hero_heading {
            width: 90%;
            min-width: 200px;
        }
        .text2{
            font-size: 16px;
        }
}

