.parentcontainer{
    background-image: url('/bg.png');
}
.para{
    font-size: 0.9em;
    line-height: 1.5em;
    /* margin: 0 0 1.5em 0; */
    padding: 0;
    font-weight: 400;
}

.subheading{
    font-size: 1.6em;
    line-height: 1.5em;
    /* margin: 0 0 1.5em 0; */
    padding: 0;
    font-weight: 700;
}

.list{
    font-size: 0.9em;
    line-height: 1.5em;
    /* margin: 0 0 1.5em 0; */
    padding: 0;
    font-weight: 400;
}

.sec{
    margin-block: 1em;
}

.listitem::before{
    content: '=> ';
    margin-left: 1.5em;
}